<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.dao.L_usertimelineDAO">

	<insert id="insertUserTimeline"
		parameterType="com.smhrd.entity.L_usertimeline">
		INSERT INTO l_usertimeline
		VALUES (
		#{u_id},
		#{u_timestamp},
		#{u_timegold},
		#{u_timedamage},
		#{u_jmkill},
		#{u_mkill},
		#{u_matchcd}
		)
	</insert>

	<select id="ut_matchCdCheck"
		resultType="com.smhrd.entity.L_usertimeline">
		select * from l_usertimeline
		where u_matchcd = #{u_matchcd}
		<!-- 고스트 타임라인이랑 position 매칭해줘야함 -->
	</select>

</mapper>